if (inbox)
    div(class="col-md-6 col-lg-7 col-xl-8")
        div(class="mt-2 mb-4 d-flex justify-content-center align-items-center")
            img(src=`/img/user/${toUser.avatar}`
                alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
                style="object-fit: cover;"
                height="60"
                width="60")
            div(class="d-flex flex-column")
                p(class="fw-bold mb-0 h4")=toUser.name
                p(class="text-muted mb-0") Active now
                            
        ul(class="list-unstyled" style="max-height: 600px; min-height: 500px; overflow-x: hidden; overflow-y: scroll;") 
            each box in inbox
                if (box.from.id === toUser.id)
                    li(class="d-flex mb-4")
                        img(src=`/img/user/${box.from.avatar}`
                            alt="avatar"
                            class="rounded-circle d-flex align-self-start me-3 shadow-1-strong"
                            style="object-fit: cover;"
                            height=40
                            width="40")
                        
                        div(class="card ")
                            div(class="card-header d-flex justify-content-between p-1")
                                p(class="text-muted small mb-0")=box.sentAt.toLocaleTimeString('en-US', { hour12: false }).split(':').slice(0, -1).join(':')
                            div(class="card-body p-2")
                                p(class="mb-0")=box.content
                else
                    li(class="d-flex justify-content-end mb-4 me-2")
                        div(class="card")
                            div(class="card-header d-flex justify-content-end p-1")
                                p(class="text-muted small mb-0 p-1")=box.sentAt.toLocaleTimeString('en-US', { hour12: false }).split(':').slice(0, -1).join(':')
                            div(class="card-body p-2 d-flex justify-content-end")
                                p(class="mb-0")=box.content
                        img(src=`/img/user/${currUser.avatar}`
                            alt="avatar"
                            class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong"
                            style="object-fit: cover;"
                            height="40"
                            width="40")
                
            
        div(class="bg-white mb-3")
            div(class="form-outline")
                textarea(class="form-control" id="textAreaExample" rows="2")

        button(type="button" class="btn btn-info btn-rounded float-end") Send